* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-size: 16px;
  font-weight: 400;
  background-color: steelblue;
}

img {
  width: 100%;
}

.wrapper {
  width: 100%;
  margin: 0 auto;
  background-color: #dedefe;
}

header {
  background-color: #23180d;
  display: flex;
  align-items: center;
  justify-content: space-between;
  line-height: 22px;
}

.logo,
.navlink {
  padding: 0 100px;
}

.navlink {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-top: 25px;
  padding-bottom: 25px;
}

.menu-item {
  padding-left: 10px;
  padding-right: 10px;
}

.menu-link {
  color: #fff;
  font-weight: 600;
}

.menu-link:hover {
  background-color: #c52d2f;
}

.meal-serach {
  margin-left: 10px;
  width: 100px;
  height: 30px;
  padding-left: 10px;
}

.active-link {
  background-color: #c52d2f;
  padding: 5px 12px;
  border-radius: 3px;
  line-height: 24px;
  display: inline-block;
}

.forum-links-wrapper {
  display: flex;
  align-items: center;
}

.forum-links {
  display: flex;
  align-items: center;
}

.hide {
  display: none;
}

@media screen  and (max-width: 767.98px) {
  .navlink {
    display: none;
  }

  .humburger {
    margin-right: 20px;
    border: none;
    font-size: 24px;
    background-color: #fff;
  }
}

@media screen  and (min-width: 768px) {
  .humburger {
    display: none;
  }
}
