<<<<<<< HEAD
footer {
  padding: 50px 10px 0 0;
  margin: 0;
  width: 100%;
  background-color: #1d2020;
}

.copyright {
  color: #fff;
}
.footer {
  width: 100%;
  padding: 1.5em 2em;
  font-size: 2em;
  background-color: #10141a;
  color: #d2d1d3;
  border: 3px solid;
}

.footer a {
  color: #e1362c;
  text-decoration: none;
}

.footer a:hover {
  color: green;
  transition: all 0.3s ease-in;
  transform: scale(1.1);
}
=======
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-size: 16px;
  font-weight: 400;
  background-color: steelblue;
}

img {
  width: 100%;
}

.wrapper {
  width: 100%;
  margin: 0 auto;
  background-color: #dedefe;
}

header {
  background-color: #23180d;
  display: flex;
  align-items: center;
  justify-content: space-between;
  line-height: 22px;
}

.logo,
.navlink {
  padding: 0 100px;
}

.navlink {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-top: 25px;
  padding-bottom: 25px;
}

.menu-item {
  padding-left: 10px;
  padding-right: 10px;
}

.menu-link {
  color: #fff;
  font-weight: 600;
}

.menu-link:hover {
  background-color: #c52d2f;
}

.meal-serach {
  margin-left: 10px;
  width: 100px;
  height: 30px;
  padding-left: 10px;
}

.active-link {
  background-color: #c52d2f;
  padding: 5px 12px;
  border-radius: 3px;
  line-height: 24px;
  display: inline-block;
}

.forum-links-wrapper {
  display: flex;
  align-items: center;
}

.forum-links {
  display: flex;
  align-items: center;
}

.hide {
  display: none;
}

@media screen  and (max-width: 767.98px) {
  .navlink {
    display: none;
  }

  .humburger {
    margin-right: 20px;
    border: none;
    font-size: 24px;
    background-color: #fff;
  }
}

@media screen  and (min-width: 768px) {
  .humburger {
    display: none;
  }
}
>>>>>>> dev
